html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-image: url(../img/utoolity-bg2.jpg) !important;
    background-color: rgb(37, 79, 158) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.login img {
    margin-bottom: .5em;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
    height: 100vh; /* Add this line */
}

.login{
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 3em;
    margin: 5em;
    background-color: #212529;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3%;

    border: .4em solid white;
}

.login h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 .3em 0;
}
.login form{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.login label{
    margin: .7em 0 0 0;
}

.login input{
    border: 0;
    margin: 1em 0;
    height: 2em;
    border-radius: 5px;
}

.loginBtn{
    text-align: center;
    font-size: 1em !important;
    padding: .4em;
    width: 100%;
    margin: 1em auto 0;
    background-color: rgb(32, 74, 164) !important;
    color: white;
    font-weight: bold;
    height: 2.5em !important;
}

form .error{
    background-color: red !important;
    padding: 0.2em !important;
}

.text-muted {
    display: none;
}

@media only screen and (max-width: 460px) {

    body {
        background-image: url(../img/utoolity-bg-portrait2.jpg) !important;
        height: 100%;
        overflow: hidden !important;

    }

    .text-muted {
        display: block;
        color: lightgray;
        line-height: 1.5em;
        font-size: 1.2em;
        text-align: justify;
        padding-top: 2em;
    }

    .container {
        align-items: flex-start;
    }

    .login {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 1em;
    }

    .login > * {
        margin: 0 1em;
    }

    .login img {
        margin-bottom: 2em;
    }

    .login input {
        padding: .7em;
        margin-bottom: 2em;
    }

    .login label {
        color: #75C0F9;
        font-weight: bold;
    }

    .line {
        background-color:#75C0F9;
        height: .2em;
        width: 90vw;
    }

    strong {
        font-weight: bold;
        color: #75C0F9;
    }

    .login a {
        color: lightgray;
    }
    .login #comteq-link {
        color: #75C0F9;
        /* text-decoration: underline; */
    }
}